.container {
    
    margin-top: 4px;
    background-color: white;
    
}

body {
    background-image: url("../images/background.jpg");
}

#main {
    text-align: center;
   
}

#score {
    font-size: 18px;
    color: maroon;
    text-transform: uppercase;
}

#tyler {
    font-size: 14px;
}

p {
    font-size: 14px;
    color: blue;
}

.img-fluid {
    margin: auto;
}


/*html, body {
    height: 100%;
}

body {
    /* display: flex;
    flex-direction: column; */


}

/*.container {                           
    /* width: 1200px; */

/*padding: 50px;
    box-sizing: border-box;
    /* box-shadow: 0 10px 10px 10px #000; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; */

/*border-radius: 5px;
    text-align: center;               
    border: 1px solid black;
    margin-top: 4px;
  
}

h1 {
    margin: 0 0 0px;
    padding: 20px 0px;
    color: white;
    background-color: maroon;
    border-bottom: solid -10px #ddd;
    text-align: center;
}

#film-view {

    background-color: rgba(110, 101, 101, 0.4);
    margin: auto;
    text-align: left;
}

#playerPop {
color: blue;

}

#youtube {

    text-align: center;
    

}

#score {
    float: right;
}